<---
import LayoutProjects from "../../layouts/LayoutProjects.astro";
import projects from "../../data/projects";
import ArrowLeft from "../../components/icons/ArrowLeft.astro";
import Badge from "../../components/Badge.astro";
import Link from "../../components/icons/Link.astro";
import ArrowRight from "../../components/icons/ArrowRight.astro";
const project = projects[0];
---

<LayoutProjects>
    <article>
        <header>
            <a href="../">
                <h2><ArrowLeft class="arrowLeft" /> Projects</h2></a
            >
            <h1>{project.title}</h1>
        </header>
        <section>
            <div class="links">
                <ul>
                    <li>
                        <Link class="iconLink" /><a href={project.url}>Demo</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="tecnologies">
                    {
                        project.tecnologies.map((tecnology) => (
                            <Badge>{tecnology}</Badge>
                        ))
                    }
                </ul>
            </div>
        </section>
        <article>
            <h2>About this project</h2>
            <p>{project.description}</p>

            <h2>Walkthrough</h2>
            {
                project.extended_description.map((paragraph) => (
                    <p>{paragraph}</p>
                ))
            }
            <!-- agregamos seccion  "ver tambien" -->
            <h2>See also</h2>
               <p>{project.refereces.text}</p>
               <a class="references" href={project.refereces?.links[0]} target="_blank">Administration barber system <ArrowRight class="arrowRight"> </a>
            <h3>Tags</h3>
            <ul class="tags">
                {project.tags.map((tag) => <Badge class="tag">{tag}</Badge>)}
            </ul>
        </article>
    </article>

    <style>
        ul {
            display: flex;
        }

        p {
            margin: 20px 0;
            letter-spacing: 1px;
        }
        li {
            list-style: none;
            margin-right: 20px;
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
        }

        .tag {
            margin-right: 10px;
        }

        section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        .links li {
            background-color: #1f2a4b;
            border-radius: 15px;
            width: 80px;
            margin: auto;
            padding: 2px;
        }

        .links ul li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }

        .links a {
            color: #fff;
            text-decoration: none;
            margin-left: 5px;
        }

        .links:hover {
            cursor: pointer;
        }

        .links:hover a {
            color: #50cbc7;
        }

        .links:hover .iconLink {
            padding-right: 3px;
        }

        .references{
            color: #50cbc7;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
        }

        .references:hover .arrowRight {
            padding-left: 3px;
        }

        @media (max-width: 768px) {
            section {
                justify-content: center;
            }
        }
    </style>
    </LayoutProjects>
