---
import LayoutProjects from "./LayoutProjects.astro";
import ArrowLeft from "../components/icons/ArrowLeft.astro";
import Badge from "../components/Badge.astro";
import Link from "../components/icons/Link.astro";
import Github from "../components/icons/github.astro";

const { frontmatter } = Astro.props;
---

<LayoutProjects>
    <article>
        <header>
            <a href="../">
                <h2><ArrowLeft class="arrowLeft" /> Projects</h2>
            </a>
            <h1>{frontmatter.title}</h1>
        </header>
        <section>
            <div class="links">
                <ul>
                    {frontmatter.demo && frontmatter.demo !== "" && (
                        <li>
                            <Link class="iconLink" /><a href={frontmatter.demo} target="_blank">Demo</a>
                        </li>
                    )}
                    {frontmatter.github && frontmatter.github.length > 0 && (
                        <li>
                            <Github class="iconLink" /><a href={frontmatter.github[0]} target="_blank">Github</a>
                        </li>
                    )}
                </ul>
            </div>
            <div>
                <ul class="tecnologies">
                    {
                        frontmatter.tecnologies.map((tecnology) => (
                            <Badge>{tecnology}</Badge>
                        ))
                    }
                </ul>
            </div>
        </section>
        <article>
            <!-- El contenido del markdown se renderizará aquí -->
            <slot />
             <h3>Tags</h3>
            <ul class="tags">
                {frontmatter.tags.map((tag) => <Badge class="tag">{tag}</Badge>)}
            </ul>
        </article>
    </article>

    <style>
        ul {
            display: flex;
        }

        p {
            margin: 20px 0;
            letter-spacing: 1px;
        }
        li {
            list-style: none;
            margin-right: 20px;
        }
        .tags {
            display: flex;
            flex-wrap: wrap;
        }

        .tag {
            margin-right: 10px;
        }

        section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        }

        .links li {
            background-color: #1f2a4b;
            border-radius: 15px;
            width: 80px;
            margin: auto;
            padding: 2px;
        }

        .links ul li {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 5px;
        }

        .links li{
            cursor: pointer;
        }

        .links a {
            color: #fff;
            text-decoration: none;
            margin-left: 5px;
        }

        .links:hover {
            cursor: pointer;
        }

        .links:hover a {
            color: #50cbc7;
        }

        .links:hover .iconLink {
            padding-right: 3px;
        }

        .references{
            color: #50cbc7;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
        }

        .references:hover .arrowRight {
            padding-left: 3px;
        }

        @media (max-width: 768px) {
            section {
                justify-content: center;
                flex-wrap: wrap;
                width: 90%;
            }
        }
    </style>
</LayoutProjects>